/* reset box sizing*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  /* grid-template-columns: 1.5em 1fr 1.5em; */
  grid-template-areas:
    "side box1 box2"
    "side box3 box4";
}

/* NUMBER INPUT */
input[type="text"] {
  padding: 50px;
  background-color: #969696;
  text-align: center;
  font-size: 18px;
  text-align: center;
}

input[type="text"]:focus {
  color: #fff;
}

input.number {
  margin-bottom: 10%;
}

::placeholder {
  color: #fff;
}

::placeholder:focus {
  color: #fff;
}

li {
  color: #969696;
  font-size: 18px;
  margin-bottom: 5px;
}

a {
  margin-top: 50px;
}

/* GRID */

/* @media only screen and (min-width: 860px) {
  body {
    grid-template-columns: 1.5em minmax(400px, 650px) minmax (200px, 350px) 1.5em;
    grid-template-areas:
      "header header header header"
      ". main side ."
      "footer footer footer footer";
  }
} */
.sidebar {
  grid-area: side;
}

.box1 {
  grid-area: box1;
  background-color: #0062ff;
}
.box2 {
  grid-area: box2;
  background-color: #d800ff;
}
.box3 {
  grid-area: box3;
  background-color: #ff004e;
}
.box4 {
  grid-area: box4;
  background-color: #001671;
}
